[submodule "challenge-qr-code-component"]
	path = challenge-qr-code-component
	url = https://github.com/iArmanKarimi/challenge-qr-code-component
[submodule "challenge-product-preview-card-component"]
	path = challenge-product-preview-card-component
	url = https://github.com/iArmanKarimi/challenge-product-preview-card-component
[submodule "challenge-nft-preview-card-component"]
	path = challenge-nft-preview-card-component
	url = https://github.com/iArmanKarimi/challenge-nft-preview-card-component
[submodule "challenge-results-summary-component"]
	path = challenge-results-summary-component
	url = https://github.com/iArmanKarimi/challenge-results-summary-component
[submodule "challenge-article-preview-component"]
	path = challenge-article-preview-component
	url = https://github.com/iArmanKarimi/challenge-article-preview-component
[submodule "challenge-3-column-preview-card-component"]
	path = challenge-3-column-preview-card-component
	url = https://github.com/iArmanKarimi/challenge-3-column-preview-card-component
