[submodule "challenge-qr-code-component"]
	path = challenge-qr-code-component
	url = https://github.com/iArmanKarimi/challenge-qr-code-component
[submodule "challenge-product-preview-card-component"]
	path = challenge-product-preview-card-component
	url = https://github.com/iArmanKarimi/challenge-product-preview-card-component
[submodule "challenge-nft-preview-card-component"]
	path = challenge-nft-preview-card-component
	url = https://github.com/iArmanKarimi/challenge-nft-preview-card-component
